<!--Nathaniel Buchanan
Ohio University-->
{% extends 'base.html' %}

{% block title %}Hobby Chart{% endblock title %}

{% block scripts %}

<script>
    $(document).ready(function(){
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for t in qs %} '{{ t }}', {% endfor %}],
            datasets: [{
                label: '{{hobby.name}} Minutes',
                data: [{% for t in vals %} '{{ t }}', {% endfor %}],
                backgroundColor: [
                    'rgba(0, 104, 72, 0.5)',
                    'rgba(170, 138, 0, 0.5)',
                    'rgba(21, 71, 52, 0.5)',
                    'rgba(250, 70, 22, 0.5)',
                    'rgba(154, 206, 96, 0.5)',
                    'rgba(0, 104, 72, 0.5)',
                    'rgba(170, 138, 0, 0.5)',
                    'rgba(21, 71, 52, 0.5)',
                    'rgba(250, 70, 22, 0.5)',
                    'rgba(154, 206, 96, 0.5)',
                ],
                borderColor: [
                    'rgba(0, 104, 72, 1)',
                    'rgba(170, 138, 0, 1)',
                    'rgba(21, 71, 52, 1)',
                    'rgba(250, 70, 22, 1)',
                    'rgba(154, 206, 96, 1)',
                    'rgba(0, 104, 72, 1)',
                    'rgba(170, 138, 0, 1)',
                    'rgba(21, 71, 52, 1)',
                    'rgba(250, 70, 22, 1)',
                    'rgba(154, 206, 96, 1)',
                ],
                borderWidth: 3
            }]
        },
        options: {
            //Used to make charts fit on entire page
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
});
</script>
{% endblock scripts %}

{% block content %}

    <canvas id="myChart" width="100" height="100"></canvas>
    <form method="GET" action="addtime">
        {% csrf_token %}
        <button type='submit' name="hobby" value='{{hobby.id}}'>Add Time</button>
    </form>
{% endblock content %}
