<!--Taylor Miller
    tm408518@ohio.edu
    temporary implementation for sprites on sprtes.html
    -->
{% load static %}
<!DOCTYPE >
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href="{% static 'myapp/css/sprites.css' %}">
        <!--<script type="text/javascript" src="myapp/css/sprites.js"></script>-->

        <script type="text/javascript">
            var sprite_selection = 0; //will be used to select which sprite we use, updated from the drop-down selection
            var sprite_happiness = 0;
            if(sprite_selection == 0){//rufus
                if(sprite_happiness < 15){
                    //input sad rufus img here
                    
                }else if(sprite_happiness < 30){
                    //input meh rufus
                }else{
                    //input happy rufus
                }
            }else if(sprite_selection == 1){//baby yoda
                if(sprite_happiness < 15){
                    //input sad yoda img here
                }else if(sprite_happiness < 30){
                    //input meh yoda
                }else{
                    //input happy yoda
                }
            }else if(sprite_selection == 2){//pokemon thing
                if(sprite_happiness < 15){
                    //input sad  pokemon img here
                }else if(sprite_happiness < 30){
                    //input meh pokemon
                }else{
                    //input happy pokemon
                }
            }

        </script>
    </head>
    <body>
        <div id="demo">
        <!--was used previously to cycle a sprite page-->
            <p id="image" onmouseover="animateScript()">  </p>
        </div>
    </body>
    
</html>