button{
    font-family: georgia, serif;
    font-size: 12px;
    padding: 8px 16px; 
    color: white;
    background-color:rgb(0, 104, 72); 
    border-style: none;
    margin: 0;
    cursor:pointer;
}
#addTime {
    width: 50%;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    font-family: georgia, serif;
    /*KEEP THE TWO LINES BELOW! THE KEEP FOOTER NICE 
    FOR EVERY BROWSER*/
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;    
}
table {
    font-family: georgia, serif;
    border-spacing: 10px; /*only px seems to work here*/
    font-size: 90%;
    /*width: 30%*/
} 

/*used while making the table*/
td{
    text-align: left;
    padding: 0%;
    color:rgb(231,236,195);
}
#credentials{
    position: relative;
    float: right;
    top: -75px;
    text-align: right;

    padding-right: 10px;
    margin: 0;
    color: white;
}

/*used for the headings of the table to be bold and different color*/
th{
    text-align: left;
    padding: 0%;
    color: rgb(170,138,0);
}

/*this makes the hyperlinks white*/
a:link, a:visited{
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}
/*used when hovering over hyperlink*/
a:hover {
    color: rgb(154, 206, 96);
}

/*style the header of the website*/
#header{
    margin-top: -2%;
    width: 100%;
    height: 100px;
    float: right;
    /*padding: 200%, 200%;*/
    background-color:#024230;
}

/*style of the title of the page*/
#header p{
    text-align: center;
    margin: auto;
    margin-top: 0%;
    padding-top: 2.7%;
    padding-right: 1%;
    font-size: 230%;
    color: rgb(255, 255, 255);
}

#hobbies a:link, #hobbies a:visited{
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

#hobbies a:hover {
    color: rgb(154, 206, 96);
}


/*styles the footer of the website*/
#footer{
    height: 225px; 
    width: 100%;
    margin-top: 1.5%;
    /*have the footer at the bottom and stretch across*/

    /*DO NOT REMOVE THE LINE BELOW THIS; USED FOR FOOTER*/
    position: relative;
    /*DO NOT REMOVE THE LINE BELOW THIS; USED FOR FOOTER*/

    /*DO NOT REMOVE THE LINE BELOW THIS; USED FOR FOOTER*/
    width: 100%;
    bottom: 0%;
    color: rgb(255, 255, 255);
    background-color: #024230;
 
}

.chartContent{
    min-height: 75%;
}