button{
    font-family: georgia, serif;
    font-size: 12px;
    padding: 8px 10px; 
    color: white;
    background-color:rgb(0, 104, 72); 
    border-style: solid;
    border-color:black;
    border-radius: 50px;
    border-width: 3px;



    cursor:pointer;
}