/*Edited By:
Johnny Gilbert
Nathaniel Buchanan
Ohio University
*/
body{
    margin: 0%;
    padding: 0%;
    max-width: 100%;
    font-family: georgia, serif;   
    font-size: 18; 
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background: url("../img/background/nature2.jpg");
    color: #024230;
    background-color:#ffffff;
}

/* Used for the button */
input[type="button"]{
    font-family: georgia, serif;
    font-size: 100%;
    padding: 12px 20px; 
    color: white;
    background-color:rgb(0, 104, 72); 
    margin: 0;
    cursor:pointer;
    border-radius: 4px;
    border: none
}

/*center the days of the week with input times*/
#formComponents{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% ) scale(1);
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 1%;
    padding-right: 2%;
    border-radius: 10%;
    color: #00694E;;
    background-color: white;
    width: 30%;
    height:97%;
}

/*center the information*/
#formComponents input{
    text-align: center;
    width: 100%;
    padding: 1.5%;
}

/*used for message at bottom*/
#txt{
    text-align: center;
}

/* The HT logo*/
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    
}
/* Hide the asterisk from the crispy forms */
.asteriskField {
    display: none;
}
#id_sunTime{
    padding-bottom: 0;
}
form{
    padding-bottom: 0;
}
p{
    padding:0;
}